<div class="user-business">
  <modal
    [isVisible]="isEditing"
    [disabled]="!form.valid"
    (onClose)="closeModal()"
    (onSuccess)="handleEditEnd()"
  >
    <modal-title>Edit your business</modal-title>
    <modal-body>
      <form [formGroup]="form">
        <div *ngFor="let field of fields" class="form-group row">
          <label [attr.for]="field.name" class="col-sm-4 col-form-label">
            {{field.label}}
            <span *ngIf="field.required">*</span>
          </label>
          <div
            [ngSwitch]="field.controlType"
            class="col-sm-8"
            [class.has-danger]="form.controls[field.name].invalid && form.controls[field.name].dirty"
          >
            <select
              *ngSwitchCase="'select'"
              [formControlName]="field.name"
              [name]="field.name"
              (change)="field.onChange && field.onChange(form.controls[field.name].value)"
              class="form-control"
            >
              <option *ngFor="let option of field.options" [value]="option.value">
                {{option.label}}
              </option>
            </select>
            <input
              *ngSwitchDefault
              [formControlName]="field.name"
              [name]="field.name"
              [required]="field.required"
              (change)="field.onChange && field.onChange(form.controls[field.name].value)"
              class="form-control"
              type="text"
            />
          </div>
        </div>
      </form>
    </modal-body>
  </modal>
  <p><span class="name">{{user.name}}</span></p>
  <p>{{user.address}}</p>
  <p>
    <span>{{user.zip}}</span>
    <span>{{user.city}}</span>
    <span [hidden]="!user.province">({{user.province}})</span>
  </p>
  <p>VAT {{user.vat}}</p>
  <a (click)="handleEdit()">Edit your business details</a>
</div>
