<div class="customer">
  <div *ngIf="!selectedCustomer">
    <div class="row">
      <div class="col-sm-6">
        <select
          (change)="handleSelectCustomer(selectCustomer.value)"
          name="customer"
          #selectCustomer
          class="form-control"
          id="select-customer"
        >
          <option disabled selected value>Select a customer</option>
          <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
          <option disabled value>—————————————</option>
          <option value="add" class="add-customer">Or add a new customer</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="selectedCustomer">
    <p><span class="name">{{selectedCustomer.name}}</span></p>
    <p>{{selectedCustomer.address}}</p>
    <p>
      <span>{{selectedCustomer.zip}}</span>
      <span>{{selectedCustomer.city}}</span>
      <span [hidden]="!selectedCustomer.province">({{selectedCustomer.province}})</span>
    </p>
    <p>VAT {{selectedCustomer.vat}}</p>
    <a (click)="handleEditCustomer()">Edit customer</a> •
    <a (click)="handleRemoveCustomer()">Remove</a>
  </div>

  <modal
    *ngIf="form"
    [isVisible]="mode"
    [disabled]="!form.valid"
    (onClose)="closeModal()"
    (onSuccess)=
      "mode === 'adding'
        ? handleAddCustomerEnd()
        : handleEditCustomerEnd()
      "
  >
    <modal-title>
      <span *ngIf="mode === 'adding'">Add a new customer</span>
      <span *ngIf="mode === 'editing'">Edit customer</span>
    </modal-title>
    <modal-body>
      <form [formGroup]="form">
        <div *ngFor="let field of fields" class="form-group row">
          <field [form]="form" [field]="field"></field>
        </div>
      </form>
    </modal-body>
  </modal>
</div>
