<div class="customer">
  <div *ngIf="!selectedCustomer">
    <div class="row">
      <div class="col-sm-6">
        <select
          (change)="handleSelectCustomer(selectCustomer.value)"
          name="customer"
          #selectCustomer
          class="form-control"
          id="select-customer"
        >
          <option disabled selected value>Select a customer</option>
          <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
          <option disabled value>—————————————</option>
          <option value="add" class="add-customer">Or add a new customer</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="selectedCustomer">
    <p><span class="name">{{selectedCustomer.name}}</span></p>
    <p>{{selectedCustomer.address}}</p>
    <p>
      <span>{{selectedCustomer.zip}}</span>
      <span>{{selectedCustomer.city}}</span>
      <span [hidden]="!selectedCustomer.province">({{selectedCustomer.province}})</span>
    </p>
    <p>VAT {{selectedCustomer.vat}}</p>
    <a (click)="handleEditCustomer()">Edit customer</a> •
    <a (click)="handleRemoveCustomer()">Remove</a>
  </div>

  <modal
    [isVisible]="mode"
    [disabled]="!newCustomerForm.form.valid"
    (onClose)="closeModal()"
    (onSuccess)=
      "mode === 'adding'
        ? handleAddCustomerEnd(newCustomerForm.form)
        : handleEditCustomerEnd(newCustomerForm.form)
      "
  >
    <modal-title>
      <span *ngIf="mode === 'adding'">Add a new customer</span>
      <span *ngIf="mode === 'editing'">Edit customer</span>
    </modal-title>
    <modal-body>
      <form #newCustomerForm="ngForm">
        <div class="form-group row" [class.has-danger]="name.invalid && name.dirty">
          <label class="col-sm-4 col-form-label">Customer Name *</label>
          <div class="col-sm-8">
            <input
              [ngModel]="customer.name"
              name="name"
              #name="ngModel"
              class="form-control"
              type="text"
              required
            >
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">VAT Number</label>
          <div class="col-sm-8">
            <input [ngModel]="customer.vat" name="vat" class="form-control" type="number" maxlength="20">
          </div>
        </div>

        <fieldset>
          <legend>Address</legend>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8">
              <input
                [ngModel]="customer.address"
                name="address"
                class="form-control"
                type="text"
              >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
              <input
                [ngModel]="customer.city"
                name="city"
                #customerCity="ngModel"
                class="form-control"
                type="text"
              >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Postal / Zip Code</label>
            <div class="col-sm-8">
              <input
                [ngModel]="customer.zip"
                name="zip"
                class="form-control"
                type="text"
                pattern="[0-9A-Z-]*"
              >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Country</label>
            <div class="col-sm-8">
              <select
                [ngModel]="customer.country"
                name="country"
                #country
                (change)="handleCountryChange(country.value)"
                class="form-control"
              >
                <option *ngFor="let country of countries" [value]="country.countryCode">
                  {{country.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">State / Province</label>
            <div class="col-sm-8">
              <select [ngModel]="customer.province" name="province" class="form-control">
                <option *ngFor="let province of provinces" [value]="province.name">
                  {{province.name}}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
    </modal-body>
  </modal>
</div>
