<div class="customer">
  <a (click)="handleSelectCustomer()">Select a customer</a> or
  <a (click)="handleAddCustomer()">Add a new customer</a>

  <modal
    [isVisible]="isAddingCustomer"
    [disabled]="!newCustomerForm.form.valid"
    (onClose)="closeModal()"
    (onSuccess)="handleAddCustomerEnd(newCustomerForm.form)"
  >
    <span class="modal-title">Add a new customer</span>
    <div class="modal-body">
      <form #newCustomerForm="ngForm">
        <div class="form-group row" [class.has-danger]="name.invalid && name.dirty">
          <label class="col-sm-4 col-form-label">Customer Name *</label>
          <div class="col-sm-8">
            <input [(ngModel)]="model.name" name="name" #name="ngModel" class="form-control" type="text" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">VAT Number</label>
          <div class="col-sm-8">
            <input [(ngModel)]="model.vat" name="vat" class="form-control" type="number">
          </div>
        </div>

        <fieldset>
          <legend>Address</legend>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8">
              <input [(ngModel)]="model.address" name="address" class="form-control" type="text">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-8">
              <input [(ngModel)]="model.city" name="city" class="form-control" type="text">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Postal / Zip Code</label>
            <div class="col-sm-8">
              <input [(ngModel)]="model.zip" name="zip" class="form-control" type="number">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Country</label>
            <div class="col-sm-8">
              <select
                [(ngModel)]="model.country"
                name="country"
                #country
                (change)="handleCountryChange(country.value)"
                class="form-control"
              >
                <option *ngFor="let country of countries" [value]="country.countryCode">
                  {{country.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">State / Province</label>
            <div class="col-sm-8">
              <select [(ngModel)]="model.province" name="province" class="form-control">
                <option *ngFor="let province of provinces" [value]="province.name">
                  {{province.name}}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </modal>
</div>
