<h3>My customers</h3>
<div class="table-responsive">
  <table class="table">
    <thead class="table-headers thead-default">
      <th>Name</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" class="customer">
        <td class="customer-name">
          <btn
            [id]="customer.id"
            type="link"
            class="customer-name"
            (onClick)="handleCustomerEdit($event)"
          >
            {{customer.name}}
          </btn>
        </td>
        <td>
          <btn
            [id]="customer.id"
            type="link"
            class="edit-action"
            (onClick)="handleCustomerEdit($event)"
          >
            Edit
          </btn>
          <btn
            [id]="customer.id"
            type="link"
            class="delete-action"
            (onClick)="handleCustomerDelete($event)"
          >
            Delete
          </btn>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<customer-edit
  [mode]="isEditing ? 'editing' : null"
  [customer]="editingCustomer"
  (onCancel)="this.endEdit($event)"
  (onEditEnd)="this.handleEditEnd($event)"
></customer-edit>
