<h3>My customers</h3>
<list-group class="customers">
  <list-group-item *ngFor="let customer of customers" class="customer">
    <btn
      [id]="customer.id"
      type="link"
      class="customer-name"
      (onClick)="handleCustomerEdit($event)"
    >
      {{customer.name}}
    </btn>
    <div class="actions">
      <btn
        [id]="customer.id"
        type="link"
        class="edit-action"
        (onClick)="handleCustomerEdit($event)"
      >
        Edit
      </btn>
      <btn
        [id]="customer.id"
        type="link"
        class="delete-action"
        (onClick)="handleCustomerDelete($event)"
      >
        Delete
      </btn>
    </div>
  </list-group-item>
</list-group>
<customer-edit
  [mode]="isEditing ? 'editing' : null"
  [customer]="editingCustomer"
  (onCancel)="this.endEdit($event)"
  (onEditEnd)="this.handleEditEnd($event)"
></customer-edit>
