:root {
  --dark-primary: #0288D1;
  --primary: #03A9F4;
  --light-primary: #B3E5FC;
  --accent: #FF5252;
}

a {
  cursor: pointer;

  @nest &:not([href]):not([tabindex]) {
    color: var(--primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 1rem 0;
}

p {
  margin-bottom: .5rem;
}

/**
 * Bootstrap overrides
 */

.modal {
  background-color: rgba(0, 0, 0, .2);
}
