@page {
  margin: 0.5cm;
}

@media print and (max-width:8.5in) {
  html {
    width:8.5in;
  }

  body {
    font-size: 9pt;
  }

  .print-hidden {
    display: none !important;
  }

  .container {
    max-width: none !important;
    padding: 9pt 32pt;
  }

  [class*="col-sm-"] {
    float: left;
  }

  .col-sm-6 { width: 50%; }
  .offset-sm-6 { margin-left: 50%;  }
}
