<h2>Login</h2>

<div class="col-sm-8 offset-sm-2">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="email" name="email" #emailInput="ngModel" type="email" class="form-control" placeholder="Email" required />
      <div *ngIf="!emailInput.valid && emailInput.dirty" class="alert alert-danger">An email address is required.</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="password" name="password" #pswInput="ngModel" type="password" class="form-control" placeholder="Password" required />
      <div *ngIf="!pswInput.valid && pswInput.dirty" class="alert alert-danger">A password is required.</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Login</button>
  </form>
  <hr />
  <p>
    Don't have an account?
    <a class="nav-link" routerLink="/signup">Sign up</a>
  </p>
</div>
