/deep/ .simple-notification-wrapper .simple-notification {
  background-color: #fff;
  color: #444;
}

/deep/ .simple-notification-wrapper .simple-notification .sn-title {
  font-size: 1rem;
  line-height: 1.5;
}

/deep/ .simple-notification-wrapper .simple-notification.success {
  background: #fff;
  border-left: 4px solid var(--success);
  box-shadow: 0 1px 8px var(--divider);
}

/deep/ .simple-notification-wrapper .simple-notification svg {
  fill: var(--success);
}
