<div *ngIf="!invoice" class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
</div>

<div *ngIf="invoice" class="header">
  <div class="row">
    <div class="col-4">
      <p class="text-md font-weight-bold">{{invoice.user.name}}</p>
      <p>{{invoice.user?.address}}</p>
      <p>
        <span>{{invoice.user?.zip}}</span>
        <span>{{invoice.user?.city}}</span>
        <span>({{invoice.user?.province}})</span>
      </p>
      <p>VAT {{invoice.user.vat}}</p>
    </div>

    <div class="col-4 offset-4 text-right">
      <p class="text-md font-weight-bold">{{invoice.customer.name}}</p>
      <p>{{invoice.customer?.address}}</p>
      <p>
        <span>{{invoice.customer?.zip}}</span>
        <span>{{invoice.customer?.city}}</span>
        <span>({{invoice.customer?.province}})</span>
      </p>
      <p>VAT {{invoice.customer.vat}}</p>
    </div>
  </div>

  <div class="metadata row">
    <div class="col-4">
      <p class="text-lg">Invoice #{{invoice.number}}</p>
      <p>{{invoice.date}}</p>
    </div>

    <div class="col-6 offset-2 text-right">
      <div class="total">
        <p class="text-left">TOTAL</p>
        <p class="total-sum">{{invoice.tasks | reduceSum:'amount' | currency:'EUR':true}} </p>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <th>Quantity</th>
      <th>Description</th>
      <th>Price</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr *ngFor="let task of invoice.tasks">
        <td>{{task.quantity}}</td>
        <td>{{task.description}}</td>
        <td>{{task.price}}</td>
        <td>{{task.amount | currency:'EUR':true}}</td>
      </tr>
    </tbody>
  </table>
</div>
