.input-display {
  border: 1px solid transparent;
  border-bottom: 1px dashed var(--secondary-text);
  cursor: pointer;
  padding: .5rem .75rem;
}

.input-display:hover {
  background-color: rgba(189, 189, 189, .2);
}

/* Number inputs */
.input-edit[size="3"] {
  width: 3ch;
}
