<div class="heading">
  <h2 class="title">New invoice</h2>
  <btn class="save-btn" type="primary" (onClick)="handleSaveInvoice()">Save</btn>
</div>
<div class="invoice">
  <user-business [user]="invoice.user" (onBusinessChange)="handleBusinessChange($event)"></user-business>
  <div class="row">
    <div class="col-sm-4 offset-sm-8">
      <customer
        [customers]="customers"
        [selectedCustomer]="invoice.customer"
        (onAddCustomer)="handleAddCustomer($event)"
        (onEditCustomer)="handleEditCustomer($event)"
        (onRemoveCustomer)="handleRemoveCustomer($event)"
        (onSelectCustomer)="handleSelectCustomer($event)"
      ></customer>
    </div>
  </div>
  <div class="invoice-date-number clearfix">
    <span>
      <input-edit [initialValue]="invoice.location" (onChange)="handleEditLocation($event)"></input-edit>,
      <input-edit [initialValue]="invoice.date" (onChange)="handleEditDate($event)" type="datepicker"></input-edit>
    </span>
    <span class="float-xs-right">
      Invoice #
      <input-edit
        class="invoice-number"
        [charsLength]="4"
        [initialValue]="invoice.number"
        type="number"
        (onChange)="handleEditNumber($event)"
      ></input-edit>
    </span>
  </div>
  <tasks
    [tasks]="invoice.tasks"
    (onAddTask)="handleAddTask($event)"
    (onEditTask)="handleEditTask($event)"
    (onRemoveTask)="handleRemoveTask($event)"
  ></tasks>
  <taxes
    class="taxes"
    [subtotal]="invoice.tasks | reduceSum:'amount'"
    [availableTaxes]="storeTaxes"
    [invoiceTaxes]="invoice.taxes"
    (onAddTax)="handleAddTax($event)"
    (onAddInvoiceTax)="handleAddInvoiceTax($event)"
    (onEditTax)="handleEditTax($event)"
    (onRemoveTax)="handleRemoveTax($event)"
  ></taxes>
  <p class="invoice-total">
    Total:
    {{(invoice.tasks | reduceSum:'amount') * ( 1 + (invoice.taxes | reduceSum:'rate') / 100) | currency:'EUR':true}}
  </p>
  <notes (onNotesChange)="handleNotesChange($event)"></notes>
</div>
<div class="footer">
  <btn class="save-btn" type="primary" (onClick)="handleSaveInvoice()">Save</btn>
</div>
