<h2 class="print-hidden">New invoice</h2>
<div class="invoice">
  <user-business [user]="user" (onBusinessChange)="handleBusinessChange($event)"></user-business>
  <div class="row">
    <div class="col-sm-4 offset-sm-8">
      <customer
        [customers]="customers"
        (onAddCustomer)="handleAddCustomer($event)"
        (onEditCustomer)="handleEditCustomer($event)"
      ></customer>
    </div>
  </div>
  <div class="invoice-date-number clearfix">
    <span>{{invoice.location}}, {{invoice.date}}</span>
    <span class="float-xs-right">Invoice #{{invoice.number}}</span>
  </div>
</div>
