<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <a class="navbar-brand" routerLink="/">Billy</a>
  <ul class="nav navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/create">New Invoice</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/invoices">Invoices</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/customers">Customers</a>
    </li>

    <li *ngIf="isAuthenticated" class="nav-item float-xs-right" routerLinkActive="active">
      <a class="nav-link" routerLink="/logout">Logout</a>
    </li>
  </ul>
</nav>
