<div class="user-business">
  <modal
    [isVisible]="isEditing"
    [disabled]="!form.valid"
    (onClose)="closeModal()"
    (onSuccess)="handleEditEnd()"
  >
    <modal-title>Edit your business</modal-title>
    <modal-body>
      <form [formGroup]="form">
        <field *ngFor="let field of fields" [form]="form" [field]="field"></field>
      </form>
    </modal-body>
  </modal>
  <p><span class="name">{{ user.name }}</span></p>
  <p>{{ user.address }}</p>
  <p>
    <span>{{ user.zip }}</span>
    <span>{{ user.city }}</span>
    <span [hidden]="!user.province">({{ user.province }})</span>
  </p>
  <p *ngIf="user.vat">VAT {{ user.vat }}</p>
  <btn type="link" (onClick)="handleEdit()">Edit your business details</btn>
</div>
